@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  font-size: 30px;
}

body {
  background-color: antiquewhite;
}

.header {
  background-color: rgb(0, 97, 43);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .imagen {
  cursor: pointer;
  margin-right: auto;
}

.header .imagen img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .links {
  list-style: none;
}

.header .links li {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.header .links a {
  font-size: 700;
  color: white;
}


.menu {
  display: none;
}

.header .boton button,
.header .menu button {
  margin-left: 20px;
  font-weight: 700;
  color: rgb(0, 97, 43);
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .boton button:hover,
.header .menu button:hover {
  background-color: white;
  color: #ffbc0e;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .links,
  .boton {
    display: none;
  }
  .menu {
    display: inherit;
  }
}

.footer {
  background-color: rgb(0, 97, 43);
  text-align: center;
  font-style: normal;
}

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 97, 43);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

.actual {
  border: 1px solid  white;
  border-radius: 10px;
  color: black !important;
  background-color: white;
  padding: 0px 5px 0px 5px;
  box-shadow: 2px 2px rgb(93, 133, 111);
  margin-right: 5px;
}

.paginas {
  border: 1px solid  rgb(41, 136, 84);
  border-radius: 10px;
  background-color: rgb(48, 158, 98);
  padding: 0px 5px 0px 5px;
  box-shadow: 2px 2px rgb(36, 121, 74);
  transition: 200ms ease-in-out;
}

.paginas:hover {
  border: 1px solid  rgb(54, 167, 105);
  border-radius: 10px;
  background-color: rgb(68, 209, 132);
  padding: 0px 5px 0px 5px;
  box-shadow: 2px 2px rgb(44, 136, 85);
  transition: 200ms ease-in-out;
}

/* Barra de Navegacion */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding: 0px 10%;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
}

.navbar li {
  float: left;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.content {
  padding: 16px;
  padding: 0px 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Paginas de contenido */

.contenido {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  border-color: #8d8c8c;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.contenido b {
  font-size: 25px;
}

.contenido p {
  font-size: 25px;
}

.contenido a {
  background-color: #dfdede;
  padding: 0px 3px 0px 3px;
  font-size: 25px;
  border-radius: 15px;
  border-color: #8d8c8c;
  border-style: solid;
  border-width: 1px;
}

/* Otras Clases */

.alignCenterImage {
  display: block;
  margin: 10px auto 10px auto;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

